POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

DATABASE_CLIENT = 
DATABASE_NAME = 
DATABASE_HOST = 
DATABASE_PORT = 
DATABASE_USERNAME = 
DATABASE_PASSWORD = 

PASSWORD = 
DATABASE_URL=



# This was inserted by `prisma init`:
[object Promise]